h1, h2, h3, h4, p {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px
}

h2 {
    font-size: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
}

h3 {
    font-size: 22px;
    padding-top: 2px;
    padding-bottom: 2px;
}

h4 {
    font-size: 19px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#content ul, #content p {
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

ul {
    list-style: disc outside none;
    margin-left: 20px;
}

li{
    font-size: 15px;
}

@media screen and (max-width: 420px) {
    #content {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}